{% extends "./base.html" %}
{% load static %}
{% block titulo %}
    {{title}}
{% endblock %}

{% block contenido %}
<div>
    <div class="container-md">
        <h3>Historia</h3>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'img/hystory.jpeg' %}" style="width:25vw; padding-right: 5px; ">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <p style="text-align: justify; width: 50vw; border-left: 5px;">
                    OnlyFlans abrió sus puertas hace dos años en el corazón del barrio Norte. Con sólo una vitrina llena de delicias caseras,
                    la pastelería comenzó a conquistar paladares. Los vecinos se detenían atraídos por el aroma a galletas recién horneadas,
                    pasteles cariñosamente decorados y principalmente su maravillosos Flanes.
                </p>
                <p style="text-align: justify; width: 50vw; border-left: 5px;">
                    A medida que pasó el tiempo, OnlyFlans se convirtió en un punto de encuentro para cumpleaños, reuniones familiares y 
                    momentos especiales. Desde entonces seguimos endulzando vidas con amor y sabor, llegando ahora hasta todos los hogares de
                    nuestra región.
                </p>
            </div>
        </div>
    </div>    
    <p></p>
    
    <div class="container-md">
        <div class="row">
            <div class="col-8">
                <h3>Misión</h3>
                <p style="text-align: justify; max-width: 50vw; border-right: 5px;">
                    En palabras simples, nos hemos propuesto crear momentos dulces y memorables para nuestros clientes, ofreciendo productos
                    artesanales de alta calidad que despierten sonrisas y satisfagan los paladares más exigentes.
                </p>
                <p></p>
                <h3>Visión</h3>
                <p style="text-align: justify; max-width: 50vw; border-right: 5px;">
                    Queremos ser la 'flanería' y pastelería preferida de la comunidad, reconocida por su amor por los detalles, la frescura de
                    sus ingredientes y la pasión por la repostería.
                </p>
            </div>
            <div class="col-3">
                <h3></h3>
                <img src="{% static 'img/mision.jpeg' %}" style="max-width:25vw; padding-right: 25px;">
            </div>
            <div class="col-1"></div>            
            <p></p>

    <div class="container-md">
        
    </div>    
    <p></p>
    
    <h3>Valores</h3>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Calidad: Nos esforzamos por ofrecer productos excepcionales que deleiten a nuestros clientes.
        </p>
    </div>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Cercanía: Valoramos las relaciones personales y la conexión con nuestra comunidad.
        </p>
    </div>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Creatividad: Buscamos innovar y sorprender con nuestras creaciones.
        </p>
    </div>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Compromiso: Trabajamos con pasión y dedicación para superar las expectativas.
        </p>
    </div>
</div>    
        
    <h3>Sucursales</h3>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Casa Matriz: Calle Norte 001, Barrio Norte.
        </p>
    </div>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Calle Oriente 001, Barrio Oriente.
        </p>
    </div>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Calle Poniente 001, Barrio Poniente.
        </p>
    </div>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Calle Sur 001, Barrio Sur.
        </p>
    </div>
    <div class="container-md mb-3">
        <p style="text-align: justify; padding-left: 10px;">
            Calle Centro 001, Barrio Centro.
        </p>
    </div>
{% endblock %}