{% extends "./base.html" %}
{% block titulo %}
    {{title}}
{% endblock %}

{% block contenido %}
   
    <div class = "container">
        <div class="row">
            <h3>Contacto</h3>
        </div>
        <div class = "row justify-content-center">
            <div    class   =   "card mb-3"
                    style   =   "   width           :   30rem           ;
                                    text-align      :   center          ;
                                    border-style    :   solid           ;
                                    border-radius   :   10px            ;
                                    border-width    :   1px             ;
                                    border-color    : darkslateblue   ;
                                    background-color: bisque          ;" >
                    <div class="card-body">
                        <h4 class="card-title">Gracias por contactarse con OnlyFlans,</h4>
                        <h4 class="card-title">le responderemos en breve.</h4>
                        <a  href    =   "{% url 'index' %}"
                            class   =   "btn btn-custom btn-sm"
                            style   =   "background-color   : darkslateblue ;
                                         color              : white         ;" >
                            Volver al inicio
                        </a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

